<section class="fx1">
  <div class="container">
    <div class="rowgd">
      <div class="col50">
        <div class="img_bg">
          <img src="../assets/img/img6.jpg" alt="">
        </div>
      </div>
      <div class="col50">
        <div class="form">
          <div class="logo">
            <img src="../assets/img/logo3.png" alt="">
          </div>
            <form action="">
              <input type="text" placeholder="E-mail">
              <input type="password" placeholder="Senha">
              <a href="">Esqueceu a senha?</a>
              <input class="btn_enviar" type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
  </div>
</section>